# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Output JSON files
parser/outputs/

# OS files
.DS_Store
Thumbs.db
